## Preprocessing

First attempt of optimizing the model accancy by dropping few columns and adding the number of epochs.

In [7]:
# Import our dependencies
# import os 
# os.environ['KMP_DUPLICATE_LIB_OK']='True'
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import numpy as np


#  Import and read the charity_data.csv.
import pandas as pd 
df = pd.read_csv("charity_data.csv")
df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [27]:
# Second Attempt - optimising the model by removing two more columns from data on 50 more epochs and adding one more hidden layer
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5779 - accuracy: 0.7229 - 473ms/epoch - 2ms/step
Loss: 0.5778949856758118, Accuracy: 0.7229154706001282

In [33]:
# First attempt - optimising the model by removing two more columns from data on 50 more epochs 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5758 - accuracy: 0.7272 - 393ms/epoch - 1ms/step
Loss: 0.5758264064788818, Accuracy: 0.7272303104400635

In [39]:
# third attempt - optimising the model by removing two more columns from data on 50 more epochs and removing 10 nodes frpm 1st hidden layer and adding 40 nodes in second
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5781 - accuracy: 0.7198 - 389ms/epoch - 1ms/step
Loss: 0.578086256980896, Accuracy: 0.7197667360305786

In [8]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME', 'ORGANIZATION','SPECIAL_CONSIDERATIONS'
application_df = df[[
    "APPLICATION_TYPE",
    "AFFILIATION",
    "CLASSIFICATION",
    "USE_CASE",
    "STATUS",
    "INCOME_AMT",
    "ASK_AMT",
    "IS_SUCCESSFUL"
]]
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,1,0,5000,1
1,T3,Independent,C2000,Preservation,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,1,100000-499999,142590,1

In [9]:
# Determine the number of unique values in each column.
n = application_df.nunique(axis=0)
  
print("\n",
      n)

 APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [10]:
# Look at APPLICATION_TYPE value counts for binning
print(application_df['APPLICATION_TYPE'].value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
app_count = application_df['APPLICATION_TYPE'].copy()
app_count = app_count.value_counts()
application_index = app_count[(app_count < 528)].copy()
application_types_to_replace = application_index.index
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

Index(['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17'], dtype='object')

In [12]:
# Look at CLASSIFICATION value counts for binning
class_count= application_df['CLASSIFICATION'].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [13]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count[class_count>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [14]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

class_index =class_count[(class_count < 1883)].copy()
classifications_to_replace = class_index.index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [15]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df)
application_df_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,USE_CASE_ProductDev,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0,1,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,1,0,...,1,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,1,1,0,0,0,0,0,0,0,0
34295,1,5000,0,0,0,0,0,1,0,0,...,1,1,0,0,0,0,0,0,0,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,1,5000,1,0,0,0,0,0,1,0,...,1,1,0,0,0,0,0,0,0,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [16]:
# Split our preprocessed data into our features and target arrays
X= application_df_dummies.drop(columns=["IS_SUCCESSFUL"])
y = application_df_dummies['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [34]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_dimensions = len(X_train_scaled[0])
hidden_layer_1 = 70
hidden_layer_2 = 70

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_1, activation="relu", input_dim=input_dimensions))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_2, activation="relu"))



# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 70)                2660

 dense_11 (Dense)            (None, 70)                4970

 dense_12 (Dense)            (None, 1)                 71

=================================================================
Total params: 7,701
Trainable params: 7,701
Non-trainable params: 0
_________________________________________________________________

In [35]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [36]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5762 - accuracy: 0.7190
Epoch 2/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5647 - accuracy: 0.7247
Epoch 3/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5629 - accuracy: 0.7250
Epoch 4/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5611 - accuracy: 0.7259
Epoch 5/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5595 - accuracy: 0.7257
Epoch 6/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5592 - accuracy: 0.7276
Epoch 7/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5587 - accuracy: 0.7269
Epoch 8/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5578 - accuracy: 0.7260
Epoch 9/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5579 - accuracy: 0.7278
Epoch 10/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5574 - accuracy: 0.7289
Epoch 11/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5567 - accuracy: 0.7275
Epoch 12/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5564 - accuracy: 0.7289
Epoch 13/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5564 - accuracy: 0.7290
Epoch 14/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5563 - accuracy: 0.7278
Epoch 15/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5558 - accuracy: 0.7285
Epoch 16/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5559 - accuracy: 0.7283
Epoch 17/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5553 - accuracy: 0.7292
Epoch 18/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5552 - accuracy: 0.7282
Epoch 19/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5552 - accuracy: 0.7291
Epoch 20/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7297
Epoch 21/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5544 - accuracy: 0.7278
Epoch 22/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7287
Epoch 23/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7290
Epoch 24/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7303
Epoch 25/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7304
Epoch 26/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7290
Epoch 27/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7297
Epoch 28/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7306
Epoch 29/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7304
Epoch 30/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7295
Epoch 31/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7300
Epoch 32/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7304
Epoch 33/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5532 - accuracy: 0.7306
Epoch 34/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5528 - accuracy: 0.7302
Epoch 35/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7310
Epoch 36/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5529 - accuracy: 0.7313
Epoch 37/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5528 - accuracy: 0.7317
Epoch 38/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5523 - accuracy: 0.7302
Epoch 39/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5529 - accuracy: 0.7302
Epoch 40/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5523 - accuracy: 0.7308
Epoch 41/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5523 - accuracy: 0.7309
Epoch 42/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5523 - accuracy: 0.7309
Epoch 43/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5518 - accuracy: 0.7308
Epoch 44/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5522 - accuracy: 0.7308
Epoch 45/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5519 - accuracy: 0.7320
Epoch 46/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5517 - accuracy: 0.7317
Epoch 47/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7312
Epoch 48/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5517 - accuracy: 0.7311
Epoch 49/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5516 - accuracy: 0.7305
Epoch 50/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7315
Epoch 51/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7314
Epoch 52/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7310
Epoch 53/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7319
Epoch 54/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7315
Epoch 55/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7314
Epoch 56/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7315
Epoch 57/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7309
Epoch 58/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7320
Epoch 59/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7309
Epoch 60/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7311
Epoch 61/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7316
Epoch 62/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7319
Epoch 63/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7315
Epoch 64/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5505 - accuracy: 0.7317
Epoch 65/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5503 - accuracy: 0.7320
Epoch 66/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7322
Epoch 67/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7310
Epoch 68/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7321
Epoch 69/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7319
Epoch 70/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7314
Epoch 71/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7320
Epoch 72/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7324
Epoch 73/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7318
Epoch 74/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7318
Epoch 75/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7323
Epoch 76/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7314
Epoch 77/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7320
Epoch 78/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7320
Epoch 79/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7318
Epoch 80/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7321
Epoch 81/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7328
Epoch 82/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7323
Epoch 83/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7320
Epoch 84/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7318
Epoch 85/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7324
Epoch 86/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7314
Epoch 87/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7320
Epoch 88/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7331
Epoch 89/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7320
Epoch 90/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7323
Epoch 91/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7327
Epoch 92/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7321
Epoch 93/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7324
Epoch 94/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7321
Epoch 95/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7314
Epoch 96/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7324
Epoch 97/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5494 - accuracy: 0.7325
Epoch 98/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5490 - accuracy: 0.7323
Epoch 99/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7325
Epoch 100/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7325
Epoch 101/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7320
Epoch 102/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5489 - accuracy: 0.7329
Epoch 103/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7332
Epoch 104/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7322
Epoch 105/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7328
Epoch 106/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7326
Epoch 107/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7323
Epoch 108/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7327
Epoch 109/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7319
Epoch 110/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7329
Epoch 111/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7329
Epoch 112/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7326
Epoch 113/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7324
Epoch 114/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7324
Epoch 115/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7327
Epoch 116/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7318
Epoch 117/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7331
Epoch 118/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5486 - accuracy: 0.7328
Epoch 119/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7322
Epoch 120/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7324
Epoch 121/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7328
Epoch 122/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7326
Epoch 123/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7318
Epoch 124/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7324
Epoch 125/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7331
Epoch 126/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7330
Epoch 127/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7334
Epoch 128/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7329
Epoch 129/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7329
Epoch 130/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7329
Epoch 131/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7329
Epoch 132/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7332
Epoch 133/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7329
Epoch 134/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7323
Epoch 135/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7329
Epoch 136/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7326
Epoch 137/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7325
Epoch 138/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7329
Epoch 139/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7323
Epoch 140/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7325
Epoch 141/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7328
Epoch 142/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7330
Epoch 143/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7328
Epoch 144/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5480 - accuracy: 0.7327
Epoch 145/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5481 - accuracy: 0.7332
Epoch 146/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5483 - accuracy: 0.7329
Epoch 147/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7325
Epoch 148/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7332
Epoch 149/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7323
Epoch 150/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7329

In [38]:
# Evaluate the model using the test data on 150 epochs
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5781 - accuracy: 0.7198 - 430ms/epoch - 2ms/step
Loss: 0.578086256980896, Accuracy: 0.7197667360305786

In [40]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")